﻿<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<!--<html class="no-js" ng-app="iop_main">-->
<html ng-app="iop_main">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Iop</title>

    <!--To remove Angular # -->
    <base href="/">

    <meta name="description" content="">
    <meta name="author" content="Alessio Di Salvo">
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="css/main.css">

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="css/themes.css">
    <!-- END Stylesheets -->
    <!-- Modernizr (browser feature detection library) & Respond.js (enables responsive CSS code on browsers that don't support it, eg IE8) -->
    <script src="js/vendor/modernizr-respond.min.js"></script>
</head>

<body ng-controller="mainController as main">

    <!-- Page Container -->
    <!-- In the PHP version you can set the following options from inc/config file -->
    <!-- 'boxed' class for a boxed layout -->
    <div id="page-container">
        <!-- Site Header -->
        <header>
            <div class="container">
                <!-- Site Logo -->
                <a href="index.html" class="site-logo">
                    <i class="gi gi-flash"></i> <strong>Iop</strong>
                </a>
                <!-- Site Logo -->
                <!-- Site Navigation -->
                <nav>
                    <!-- Menu Toggle -->
                    <!-- Toggles menu on small screens -->
                    <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
                        <i class="fa fa-bars"></i>
                    </a>
                    <!-- END Menu Toggle -->
                    <!-- Main Menu -->
                    <ul class="site-nav">
                        <!-- Toggles menu on small screens -->
                        <li class="visible-xs visible-sm">
                            <a href="javascript:void(0)" class="site-menu-toggle text-center">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        <!-- END Menu Toggle -->
                        <li >
                            <span ng-show="userLogged"><a href="javscript:return false;" ng-click="logout()" class="btn btn-primary">Log Out</a></span>
                            <span ng-show="!userLogged"><a href="/login" class="btn btn-primary">Log In</a></span>
                            
                        </li>
                       
                    </ul>
                    <!-- END Main Menu -->
                </nav>
                <!-- END Site Navigation -->
            </div>
        </header>
        <!-- END Site Header -->
       
               




                        <div ng-view autoscroll="true">

                        </div>




                       
                   
          


        <!-- Footer -->
        <footer class="site-footer site-section">
            <div class="container">
                <!-- Footer Links -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h4 class="footer-heading"></h4>
                        
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h4 class="footer-heading"></h4>
                       
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h4 class="footer-heading"></h4>
                       
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h4 class="footer-heading"><span id="year-copy"></span> &copy;Iop</h4>
                        <ul class="footer-nav list-inline">
                            <li>Alessio Di Salvo</li>
                        </ul>
                    </div>
                </div>
                <!-- END Footer Links -->
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->
    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

    <!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/app.js"></script>

    <!--Angular-->
    <!--<script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-cookies.min.js"></script>
    <script src="scripts/angular-route.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>



    <script src="app/app.main.js"></script>

    <!--Controllers-->
    <script src="app/components/home/home.js"></script>
    <script src="app/components/login/login.js"></script>

<!-- jQuery, Bootstrap.js, jQuery plugins and Custom JS code -->
    <script src="scripts/jquery-1.12.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/app.js"></script>

</body>
</html>