@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.react-grid-Container {
  padding: 0;
  margin-top: 0;
  clear: both;
  }
.react-grid-Toolbar {
  height: 48px;
  padding: 14px 15px 7px;
  margin-bottom: 0;
  color: inherit;
  background-color: #fff;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 4px 1px 1px 1px;
  border-image: none;
  }
.react-grid-Toolbar .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  background: white;
  border: 1px solid #e7eaec;

  -ms-touch-action: manipulation;
      touch-action: manipulation;
  }
.react-grid-Toolbar .btn:hover {
  color: inherit;
  border: 1px solid #d2d2d2;
  }
.react-grid-Toolbar .tools {
  position: relative;
  display: inline-block;
  float: right;
  padding: 0;
  margin-top: 0;
  margin-top: -6px;
  }
.react-grid-Main {
  padding: 0;
  clear: both;
  color: inherit;
  background-color: #fff;
  border-color: #e7eaec;
  border-style: solid solid none;
  border-width: 1px;
  clear : both;
}

.react-grid-Grid {
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.react-grid-Canvas {
  background-color: #fff;
  height: 100%!important;
  }
.react-grid-Cell {
  height: 32px;
  background-color: #ffffff;
  padding-left: 8px;
  padding-right: 20px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #4A4A4A;
  border-bottom: 1px solid #dddddd;
}
.react-grid-Cell:not(.editing) .react-grid-Cell__value {
  position: relative;
  top: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  }
.react-grid-Canvas.opaque .react-grid-Cell:not(.editing) {
  opacity: .4;
  -webkit-transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
          transition: opacity .25s ease-in-out;
  }
.row-deleted .react-grid-Cell {
  background-color: rgb(255, 216, 216) !important;
}

.row-odd .react-grid-Cell {
  background-color: white !important;
}

.row-even .react-grid-Cell {
  background-color: #F7F7F7 !important;
}

.react-grid-Cell__value ul {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.react-grid-Cell__value .btn-sm {
  padding: 0;
}
.react-grid-Cell.has-formula {
  background: #ddd;
  -webkit-transition: .5s background;
  }
.react-grid-Cell.copied {
  background: rgba(0, 0, 255, .2) !important;
  -webkit-transition: .5s background;
  }
.react-grid-Row:hover .react-grid-Cell {
  background-color: #f2f2f2;
}
.react-grid-Cell.strikethrough {
  color: red;
  text-decoration: line-through;
}

.react-grid-Cell.no-border {
  border: none;
}

.react-grid-Cell.bottom-border {
  border-top-style: none;
  border-right-style: none;
  border-bottom: 1px solid #dddddd;
}

.react-grid-Cell.empty-cell {
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
}

.react-grid-Cell.empty-row-add {
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.react-grid-Cell.editing {
  padding: 0;
  overflow: visible !important;
  }
.react-grid-Cell.editing .has-error input {
  border: 2px red solid !important;
  border-radius: 2px !important;
  }
.react-grid-Cell input.editor-main,
select.editor-main {
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
.react-grid-Cell input.editor-main:focus,
select.editor-main:focus {
  border-radius: 3px;
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
.react-grid-Cell input.editor-main::-moz-placeholder,
select.editor-main::-moz-placeholder {
  color: #999;
  opacity: 1;
  }
.react-grid-Cell input.editor-main:-ms-input-placeholder,
select.editor-main:-ms-input-placeholder {
  color: #999;
  }
.react-grid-Cell input.editor-main::-webkit-input-placeholder,
select.editor-main::-webkit-input-placeholder {
  color: #999;
  }
.react-grid-Cell input.editor-main[disabled],
select.editor-main[disabled],
.react-grid-Cell input.editor-main[readonly],
select.editor-main[readonly],
fieldset[disabled] .react-grid-Cell input.editor-main,
fieldset[disabled] select.editor-main {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
  }
textarea.react-grid-Cell input.editor-main,
textareaselect.editor-main {
  height: auto;
}

.react-grid-checkbox-container {
    cursor: pointer;
}

.react-grid-checkbox, .radio-custom {
    opacity: 0;
    position: absolute;
}

.react-grid-checkbox, .react-grid-checkbox-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.react-grid-checkbox-label, .radio-custom-label {
    position: relative;
}

.react-grid-checkbox + .react-grid-checkbox-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    text-align: center;
}

.react-grid-checkbox:checked + .react-grid-checkbox-label:before {
    background: rebeccapurple;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


.react-grid-checkbox:focus + .react-grid-checkbox-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}


.react-grid-HeaderCell input[type='checkbox'] {
  z-index: 99999;
}
.react-grid-HeaderCell > .react-grid-checkbox-container {
   padding: 0px 10px;
}
.react-grid-HeaderCell > .react-grid-checkbox-container > .react-grid-checkbox-label {
   margin : 0;
}
.react-grid-Header {
  background: white;
}
.react-grid-Header--resizing {
  cursor: ew-resize;
  }
.react-grid-HeaderRow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.react-grid-HeaderCell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  padding: 8px;
  padding-right: 20px;
  font-size: 12px;
  color: #4A4A4A;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.react-grid-HeaderCell__value {
  position: relative;
  top: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  }
.react-grid-HeaderCell__resizeHandle:hover {
  cursor: ew-resize;
  background: #ddd;
  }
.react-grid-HeaderCell--locked:last-of-type {
  box-shadow: none;
  }
.react-grid-HeaderCell--resizing .react-grid-HeaderCell__resizeHandle {
  background: #dddddd;
}
.react-grid-HeaderCell__draggable {
    cursor: col-resize
}
.react-grid-ScrollShim {
  z-index: 10002;
  }
.react-grid-Cell.selected-draggable {
  border: 1px solid #66afe9;
  background: white;
}
.react-grid-cell .form-control-feedback {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1000000;
  display: block;
  width: 34px;
  height: 34px;
  color: #a94442;
  }
.react-grid-Cell.was-dragged-over {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  }
.react-grid-Cell.active-drag-cell {
  overflow: visible !important;
  }
.react-grid-Cell.active-drag-cell .drag-handle {
  position: absolute;
  right: -4px;
  bottom: -5px;
  z-index: 8;
  width: 8px;
  height: 8px;
  cursor: crosshair;
  cursor: -webkit-grab;
  background: #66afe9;
  border: 1px solid #fff;
  border-right: 0;
  border-bottom: 0;
  }
.react-grid-Cell.active-drag-cell:hover .drag-handle {
  position: absolute;
  right: -7px;
  bottom: -8px;
  /* border-right: 0px; */
  /* border-bottom: 0px; */
  z-index: 8;
  width: 16px;
  height: 16px;
  cursor: crosshair;
  cursor: -webkit-grab;
}

.react-grid-Cell.active-drag-cell:hover .drag-handle .glyphicon-arrow-down {
  display: 'block'
}

.react-grid-Cell.is-dragged-over-down {
  border-right: 1px dashed black;
  border-bottom: 1px dashed black;
  border-left: 1px dashed black;
  }
.react-grid-Cell.is-dragged-over-up {
  border-top: 1px dashed black;
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  }
.react-grid-Cell.is-dragged-over-up .drag-handle {
  top: -5px;
  }
.react-grid-Cell {
  border-right: 1px solid #eee;
}

.react-grid-Cell:hover {
  background: #eee;
  }
.react-grid-Cell.selected {
  border: 2px solid #66afe9;
  background: white;
  border-radius: 4px;
  }
.react-grid-Cell:focus {
  outline: none;
}

.react-grid-Row.row-selected .react-grid-Cell{
 background-color: rgb(219, 236, 250);
}


.react-grid-Cell--locked:last-of-type {
  border-right: 1px solid #dddddd;
  box-shadow: none;
}

.react-grid-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #efefef;
  background-size: 100%;
  }
.react-autocomplete-Autocomplete__search {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  background-color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
.react-autocomplete-Autocomplete__search:focus {
  border-color: #a21618;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(162, 22, 24, .6);
  }
.react-autocomplete-Autocomplete__search::-moz-placeholder {
  color: #777;
  opacity: 1;
  }
.react-autocomplete-Autocomplete__search:-ms-input-placeholder {
  color: #777;
  }
.react-autocomplete-Autocomplete__search::-webkit-input-placeholder {
  color: #777;
  }
.react-autocomplete-Autocomplete__search[disabled],
.react-autocomplete-Autocomplete__search[readonly],
fieldset[disabled] .react-autocomplete-Autocomplete__search {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
  }
textarea.react-autocomplete-Autocomplete__search {
  height: auto;
  }
.react-autocomplete-Autocomplete__results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  min-width: 160px;
  min-width: 250px;
  max-height: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  overflow: auto;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
.react-autocomplete-Autocomplete__results.pull-right {
  right: 0;
  left: auto;
  }
.react-autocomplete-Autocomplete__results .divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  }
.react-autocomplete-Autocomplete__results > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333;
  white-space: nowrap;
  }
.react-autocomplete-Autocomplete__results div.action-button {
  display: block !important;
  padding: 4px;
  }
.react-autocomplete-Result {
  cursor: pointer;
  }
.react-autocomplete-Result > a {
  text-decoration: none;
  }
.react-autocomplete-Result--active {
  color: #262626;
  background-color: whitesmoke;
  }
.react-grid-Cell.readonly {
  background-color : black;
}

.react-cell-invalid {
    border-right: 1px solid red!important;
    border: 1px solid red;
}

.react-grid-cell-warning {
    background-color: #fcf8e3 !important;
    border-color: #faebcc;
    color: #8a6d3b;
}
