.react-grid-Row.row-context-menu .react-grid-Cell {
  background-color: #f2f2f2;
}

.react-context-menu {
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
}

.react-context-menu-link {
    display: inline-block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.react-context-menu-link.active,
.react-context-menu-link:hover {
    color: #fff;
    background-color: #66afe9;
    border-color: #66afe9;
    text-decoration: none;
}

.react-context-menu-link.disabled {
    color: #ccc;
    text-decoration: none;
}

.react-context-menu-link.active.disabled,
.react-context-menu-link:hover.disabled {
    background-color: #fff;
    text-decoration: none;
    cursor: default;
}

.react-context-menu-item.submenu > a {
    padding-right: 27px;
}

.react-context-menu-item.submenu > a:after {
    content: "?";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.react-context-menu-header {
    color: #373a3c;
    background-color: #ccc;
    padding: 5px;
    text-align: center;
}

.react-context-menu {
    min-width: 160px;
    margin: 2px 0 0;
    font-size: 14px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
}

.react-context-menu-link {
    display: inline-block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.react-context-menu-link.active,
.react-context-menu-link:hover {
    color: #fff;
    background-color: #66afe9;
    border-color: #66afe9;
    text-decoration: none;
}

.react-context-menu-link.disabled {
    color: #ccc;
    text-decoration: none;
}

.react-context-menu-link.active.disabled,
.react-context-menu-link:hover.disabled {
    background-color: #fff;
    text-decoration: none;
    cursor: default;
}

.react-context-menu-item.submenu > a {
    padding-right: 27px;
}

.react-context-menu-item.submenu > a:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.react-context-menu-header {
    color: #373a3c;
    background-color: #ccc;
    padding: 5px;
    text-align: center;
}
