.custom-editor {
  position: absolute;
  z-index: 10;
  background-color: white;
  overflow: visible;
  padding: 10px;
  border: 1px groove;
}

.custom-editor.form-inline{
  padding: 0px;
  width : 680px;
}

.custom-editor.form-inline label{
  padding-right : 5px;
}

.custom-editor.form-inline .form-group{
  padding-right : 25px;
}

.custom-editor input.currency {
  max-width  : 70px;
  min-width  : 70px;
  text-align : right;
}

.custom-editor input.number {
  text-align : right;
}

.number-cell {
  float : right;
}

.custom-editor .fa-lock {
  cursor : pointer;
}

div.Select-input input:focus {
  box-shadow: none;
  outline: 0 none;
}

.custom-editor ul:first-of-type {
  width: auto;
}

.DayPicker{
  z-index: 99;
}

.DayPicker-Body, .DayPicker-Caption, .DayPicker-WeekdaysRow {
  background-color: white;
}
