// =============================================================================
// Variables
// =============================================================================

@import "../../node_modules/bootstrap/less/variables.less";

//
// Scaffolding
// -----------------------------------------------------------------------------

// Background color for `<body>`
@body-bg: #f9f9f9;
// Global text color on `<body>`
@text-color: #484848;
// Global textual link color
@link-color: #c05b4d;

//
// Jumbotron
// -----------------------------------------------------------------------------

@jumbotron-heading-color: #61DAFB;
@jumbotron-color: #E9E9E9;
@jumbotron-bg: #2d2d2d;
@jumbotron-font-size: @font-size-base;

// Basic Colors
@navy: #1ab394;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color

@black: #000000;
@white: #ffffff;

// Various colors
@text-color: #676a6c;   // Body text
@gray: #f3f3f4;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;

// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg:#ffffff;     // IBox Background header
@ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
@sidebar-width: 220px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #2F4050;
@nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
@nav-text-color: #a7b1c2;

// Danger colurs
@danger-lightest: #fadbdb;
@danger-light: #f6b7b7;
@danger-medium: #f19493;
@danger-heavy: #e22624;
