﻿<div id="page-content">

    <!-- Quick Stats -->
    <div class="row text-center">
        <div class="col-sm-6 col-lg-3" ng-show="!addNewPnl && userEnabledToPublish">
            <a href="" ng-click="addNew()" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-success">
                    <h4 class="widget-content-light"><strong>Add New</strong> Post</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-3" ng-show="!showListPnl">
            <a href="" ng-click="showList()" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-success">
                    <h4 class="widget-content-light"><strong>Posts</strong> List</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="gi gi-shop_window"></i></span></div>
            </a>
        </div>
    </div>
    <!-- END Quick Stats -->

    <!-- List -->
    <div class="block full" ng-show="showListPnl">
        <!-- All Products Title -->
        <div class="block-title">

        <h2><strong>All</strong> Products</h2>
        </div>
        <!-- END All Products Title -->
        <!-- All Products Content -->
        <table id="ecom-products" class="table table-bordered table-striped table-vcenter">
            <thead>
                <tr>
                    <!--<th class="text-center" style="width: 70px;">ID</th>-->
                    <th>Title</th>
                    <!--<th class="text-right hidden-xs">Price</th>-->
                    <th class="hidden-xs">Author</th>
                    <th class="hidden-xs">Likes</th>
                    <th class="hidden-xs text-center">Added</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <!--<td class="text-center"><a href="page_ecom_product_edit.html"><strong>TITLE</strong></a></td>-->
                    <td><a href="{{post.Url}}">{{post.Title}}</a></td>
                    <!--<td class="text-right hidden-xs"><strong>Author</strong></td>-->
                    <td>{{post.Author}}</td>
                    <td>{{post.Likes}}</td>
                    <td class="hidden-xs text-center">{{post.PublishDate | date}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-xs">
                            <a href="#" ng-click="editPost(post.Id); $event.preventDefault()" data-toggle="tooltip" title="Edit" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                            <a href="#" ng-click="deletePost(post.Id); $event.preventDefault()" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- END All Products Content -->
    </div>
    <!-- List -->


    <!-- Add -->
    <div class="block" ng-show="addNewPnl">
        <!-- General Data Title -->
        <div class="block-title">
            <h2><i class="fa fa-pencil"></i> <strong>New</strong> Post</h2>
        </div>
        <!-- END General Data Title -->
        <!-- General Data Content -->
        <form ng-submit="isCreation? newPostSubmit() : editPostSubmit() " class="form-horizontal form-bordered" onsubmit="return false;">
            <div class="form-group">
                <label class="col-md-3 control-label" for="title">Title</label>
                <div class="col-md-9">
                    <input type="text" id="title" name="title" class="form-control" ng-model="new.title" placeholder="Enter Title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="author">Author</label>
                <div class="col-md-9">
                    <input type="text" id="author" name="author" class="form-control" ng-model="new.author" placeholder="Enter Author name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="body">Body</label>
                <div class="col-md-9">
                    <textarea id="body" name="body" class="form-control" ng-model="new.body" rows="3"></textarea>
                    <input type="hidden" name="hiddenPostId" id="hiddenPostId" ng-model="new.hiddenPostId" />
                </div>
            </div>
            
            <div class="form-group form-actions">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
        </form>
        <!-- END General Data Content -->
    </div>
    <!-- END General Data Block -->

</div>
