﻿ <!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark">
    <div class="container">
        <h1 class="animation-slideDown"><strong>Pressford Consulting</strong></h1>
        <h2 class="h3 animation-slideUp">Latest News</h2>
    </div>
</section>
<!-- END Intro -->
<!-- Content -->
<section class="site-content site-section">
    <div class="container">


        <div class="row">
            <!-- Posts -->
            <!--<div class="col-sm-8 col-md-9">-->
            <div class="col-md-10 col-md-offset-1 site-block">

                <!-- Blog Post -->
                <div class="site-block" ng-repeat="post in posts">
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                <a href="#">
                                    <img src="/img/placeholders/photos/photo1.jpg" alt="image" class="img-responsive">
                                </a>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <h3 class="site-heading"><strong>{{post.Title}}</strong></h3>
                            <p>{{post.Body}}</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <p class="pull-right">
                        </p>
                        <ul class="list-inline pull-left">
                            <li><i class="fa fa-calendar"></i> {{post.PublishDate | date}}</li>
                            <li><i class="fa fa-user"></i> by <a href="javascript:void(0)">{{post.Author}}</a></li>

                            <li><i class="fa fa-comments"></i> <a href ng-click="newLikeSubmit(post.Id)">{{post.Likes}} likes</a></li>
                        </ul>
                    </div>



                    <h3 class="site-heading"><strong>User</strong> Comments</h3>
                    <ul class="media-list">

                        <li class="media"  ng-repeat="comment in post.Comments">
                            <a href="javascript:void(0)" class="pull-left">
                                <img src="/img/placeholders/avatars/avatar12.jpg" alt="Avatar" class="img-circle">
                            </a>
                            <div class="media-body">
                                <a href="javascript:void(0)"><strong>{{comment.Username}}</strong></a>
                                <p>{{comment.Text}}</p>
                            </div>
                        </li>

                        <li class="media">
                            <a href="javascript:void(0)" class="pull-left">
                                <img src="/img/placeholders/avatars/avatar.jpg" alt="Avatar" class="img-circle">
                            </a>
                            <div class="media-body">
                                <form ng-submit="newCommentSubmit(post.Id)" onsubmit="return false;">
                                    <textarea ng-model="new.comment" required id="commentText{{post.Id}}" name="commentText" class="form-control" rows="4" placeholder="Enter you comment.."></textarea>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Post</button>
                                </form>
                            </div>
                        </li>
                    </ul>



                </div>
                <!-- END Blog Post -->

            </div>

            <!-- Comments -->
            <!-- END Comments -->
        </div>
    </div>
</section>
<!-- END Content -->